body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    'header header'
    'menu content'
    'footer footer';
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  background-color: dodgerblue;
  padding: 5px;
  height: 100vh;
}

.top {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: red;
}

.left {
  grid-area: menu;
  background-color: yellow;
  overflow-y: auto;
}

.right {
  grid-area: content;
  background-color: green;
  overflow-y: auto;
}
#logreg {
  font-weight: bold;
}
